rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // --- WATCHLISTS ---
    match /watchlists/{watchlistId} {
      // Allow read if the user is logged in and owns this watchlist
      allow read: if request.auth != null && resource.data.userId == request.auth.uid;

      // Allow write if the user is logged in and owns this watchlist
      allow write: if request.auth != null && (request.resource.data.userId == request.auth.uid);
    }

    // --- RATINGS ---
    match /ratings/{ratingId} {
      allow read, write: if request.auth != null && resource.data.userId == request.auth.uid;
    }

    // --- REVIEWS ---
    match /reviews/{reviewId} {
      allow read: if true;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow update, delete: if request.auth != null && (get(/databases/$(database)/documents/reviews/$(reviewId)).data.userId == request.auth.uid || request.auth.token.isAdmin == true);
    }
  }
}

